{#
  Concept set rendering template
  Direct port from Java's conceptSet.ftl
#}

{%- for cs in conceptSets %}

### {{ cs.name }}

{%- if cs.expression and cs.expression.items and cs.expression.items|length > 0 %}

|Concept ID|Concept Name|Code|Vocabulary|Excluded|Descendants|Mapped|
|---|---|---|---|---|---|---|
  {%- for item in cs.expression.items %}
|{{ item.concept.concept_id }}|{{ item.concept.concept_name }}|{{ item.concept.concept_code }}|{{ item.concept.vocabulary_id }}|{{ "YES" if item.is_excluded else "NO" }}|{{ "YES" if item.include_descendants else "NO" }}|{{ "YES" if item.include_mapped else "NO" }}|
  {%- endfor %}
{%- else %}

There are no concept set items in this concept set.
{%- endif %}
{%- endfor %}
